body {
    margin: 0;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    font-family: "arial", sans-serif;
}

.main-header {
    background-color: #015666;
    min-height: 150px;
    margin: 0;
    padding: 40px 100px 40px 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    position: relative;
}

.main-header-logo {
    display: flex;
}

.main-header-logo-txt {
    margin: auto;
    padding: 0 0 0 20px;
    font-size: 26px;
    color: #F9F0DA;
}

.main-header-form,
.cart {
    height: 50px;
    display: flex;
    align-self: center;
    align-items: center;
}

.main-header-form-search {
    height: 100%;
    width: 0;
    padding: 0 42px 0 15px;
    border: none;
    border-bottom: 2px solid transparent;
    outline: none;
    background: transparent;
    transition: .4s cubic-bezier(0, 0.8, 0, 1);
    z-index: 10;
    background-image: url(../img/icon-search.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size:contain;
}

.main-header-form-search:focus {
    width: 200px;
    z-index: 1;
    border-bottom: 2px solid #F9F0DA;
    background-image: none;
    color: #F9F0DA;
    font-size: 20px;
}

.btn-cart {
    width: 20px;
    height: 30px;
    background-image: url(../img/icon-cart.png);
    border: 1px solid transparent;
    background-repeat: no-repeat;
    background-size:contain;
    outline: none;
    background-color: transparent;
    margin: 0 0 0 20px;
}

.btn-cart:hover {
    transform: scale(1.2);
}

.invisible{
    display: none;
}


.products {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    padding: 40px 100px 40px 100px;
    width: 100%;
    box-sizing: border-box;
}

.product-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 10px 20px 10px;
    text-align: center;
    border: 2px solid #206876;
    border-radius: 5px;
    padding: 15px;
}

.products-item-img{
    padding: 0 0 10px 0;
}

.products-item-name {
    font-family: "arial", sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
     padding: 0 0 10px 0;
    margin: 0;
}

.products-item-price{
    font-size: 24px;
    font-weight: 300;
    line-height: 24px;
    padding: 0 0 10px 0;
    margin: 0;
}

.buy-btn,
.del-btn{
    background-color: #F9F0DA;
    border: 2px solid #015666;
    width: 100px;
    height: 40px;
    text-align: center;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    align-self: center;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-transform: uppercase;
}

.buy-btn:hover,
.del-btn:hover{
    transform: scale(1.1);
}

.cart-block:before{
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: -10px;
    right: 100px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
}

.cart-block{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.62);
    border-radius: 5px;
    box-sizing: border-box;
    right: 0;
    top: 70%;
    position: absolute;
    background-color: white;
    padding: 20px;
    color: black;
    width: 300px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
}
.cart-item:not(:last-child){
    margin-bottom: 20px;
}
.product-bio{
    display: flex;
}
.cart-item img{
    align-self: flex-start;
    margin-right: 15px;
}
.product-single-price{
    color: #474747;
    font-size: 0.5em;
}
.product-price{
    margin-left: 30px;
}
.product-desc{
    max-width: 150px;
}
.product-quantity {
    margin-top: 15px;
    font-size: 0.75em;
}
.right-block{
    text-align: right;
}





















